<html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <style type="text/css">
            footer {
                margin-top: 30px;
                width: 300px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            footer a {
                color: green;
            }
            h2 {
                font-size: 1.4em;
                color: green;
            }
        </style>
    </head>

    <body>
        {{{body}}}

        <footer>
            <p>
                <a href="/">Home</a> ~ <a href="/about">About Me</a>
            </p>
        </footer>
    </body>
</html>